<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form
      enctype="multipart/form-data"
      method="post"
      action="/admin/post/create"
    >
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          name="title"
          placeholder="Enter Title"
          id="title"
          class="form-control"
        />
        <select name="status" id="status" class="form-control">
          <option value="public">public</option>
          <option value="private">private</option>
          <option value="draft">draft</option>
        </select>
      </div>
      <div class="form-check">
        <label for="allowComment">Allow Comments</label>
        <input
          type="checkbox"
          name="allowComment"
          class="form-check-input"
          id="allowComment"
        />
      </div>
      <div class="form-group">
        <label for="body">Body</label>
        <textarea
          name="body"
          class="form-check-input"
          id="body"
          placeholder="enter description"
          cols="30"
          rows="10"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </body>
</html>